<appSettings>
  <add key="JwtSecretKey_ejemplo" value="XX-xx-XX" />
  <add key="JwtIssuer_ejemplo" value="miaplicacion.dominio.gob.mx" />
  <add key="JwtAudience_ejemplo" value="AplicacionesAutorizadas" />
  <add key="JwtExpirationMinutes_ejemplo" value="77" />
</appSettings>
